/*
Mobile Main Hamburguer Menu Styles
*/
.header-b {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
}

.mobile-menu-links {
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  padding: 8px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 40%;
  height: 80%;
  margin-top: 50px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 48px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu-a {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: block;
  margin: 20px 20px;
}

.mobile-menu-a:link {
  text-decoration: none;
  color: #272a31;
}

.mobile-menu-a:visited {
  text-decoration: none;
  color: #272a31;
}

/*
According to Linters this should be here
*/
.sponsors-list li {
  padding: 10px 20px;
}

.mobile-menu-links li:nth-child(1) {
  align-self: center;
}

#about-link-d:link,
#about-link-d:visited,
#about-link-m:link,
#about-link-m:visited {
  color: #ec5242;
}

.mobile-menu-a img {
  height: 70px;
  width: 70px;
  border-radius: 20px;
}

/*
Hamburguer Icon Classes
*/
#nav-bar-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: #28352f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

#nav-bar-btn.active {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
}

#nav-bar-btn.active .bar:nth-child(2) {
  opacity: 0;
}

#nav-bar-btn.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#nav-bar-btn.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
