* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Montserrat', sans-serif, Arial;
  font-style: normal;
}

.display-flex {
  display: flex;
}
/*
Mobile Main Styles 
*/


/*
Hamburguer Icon Classes
*/
.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: #28352f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

#nav-bar-btn.active .bar:nth-child(2) {
  opacity: 0;
}

#nav-bar-btn.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#nav-bar-btn.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}